* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: inherit;
}
ul,ol {
  list-style: none;
}
//button, input字体不会默认继承body里面的字体
button, input {
  font: inherit;
}

:focus{
  outline: none;
}